/* @import url("https://use.typekit.net/mqa7fao.css"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply mb-4 font-sans text-5xl font-medium tracking-tight antialiased;
  }
  h2 {
    @apply pb-4 font-sans text-4xl font-medium tracking-[-0.02em] antialiased;
  }
  h3 {
    @apply pb-4 font-sans text-2xl font-medium leading-tight antialiased;
  }
  p {
    @apply max-w-2xl pb-4 font-sans text-lg leading-[1.5] antialiased md:text-[1.0625rem];
  }
  small {
    @apply max-w-xl text-base uppercase;
  }
  a {
    @apply underline hover:text-red-500 active:text-red-700;
  }

  ul {
    @apply max-w-xl list-disc;
  }
  li {
    @apply pb-1 text-lg md:text-[1.0625rem];
  }
  q {
    @apply font-sans text-2xl leading-tight antialiased;
  }
  body {
    @apply bg-texture mx-4 mb-4 font-sans antialiased md:mx-12 md:mb-4 md:!cursor-none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-texture {
    background-image: url("./images/bg.jpg");
    background-size: cover;
  }
}

#cursor {
  position: absolute;
  background-image: url("./images/cursor.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: calc(41px * 0.5);
  height: calc(848px * 0.5);
  z-index: 99;
  transform: rotate(-35deg) translateX(-50%);
  /* make transform origin the top middle */
  transform-origin: 50% 0;
  /* drop shadow */
  filter: drop-shadow(16px 16px 0.5rem #00000033);
  overflow: hidden;
}
